<div class="container-fluid hidden-sm hidden-xs">
    <div class="row">
      <div class="col-sm-12">
        <ul class="common-header-navigation top-corners flex-center" style="color: <%= topbar.color %>; background-color: <%= topbar.background_color %> ">
          <li><a href="#" class="text-danger"> <%= topbar.message %> </a></li>      
        </ul>
      </div>
    </div>
</div>
